<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>wellcome to deposit page </h1>
    <h2>this page is only for costumers </h2>
    <form action="" method="post">
        {%csrf_token%}
        <label for="">amount to deposit :</label>
        <input type="number" name="mony_val" required placeholder="amount">
        <input type="submit" value="deposit">
    </form>
</body>
</html>