<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <label for="">name :</label>
        <input type="text" name="username" placeholder="name" required><br>
        <label for="">password :</label>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" value="login">
        <a href="{% url 'register'  %}">register</a>
    </form>
</body>
</html>