<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=""  method="post">
        {%csrf_token%}
        <label for="">transfer to :</label>
        <input type="text" name="name" id="" placeholder="name"><br>
        <label for="">account no:</label>
        <input type="number" name="acc_no" id="" placeholder="account no"><br>  
        <label for="" >amount :</label>
        <input type="number" name="mony_val" id="" placeholder="amount"><br>
        <input type="submit" name="" id="" value="transfer">

    </form>
</body>
</html>