<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <h1>well come to our bank system</h1>
        <h2>this page is only for bank costumer</h2>
        <input type="submit" name="user_interest" value="withdrow">
        <input type="submit" name="user_interest" value="deposit">
        <input type="submit" name="user_interest" value="transfer">
        <input type="submit" name="user_interest" value="balance_check">
        <button value="deposit" name="user_interest" type="">deposit</button>
    </form>
</body>
</html>